{% extends 'layout.html' %}

{% block css %}
  <style>
    small {
      color: grey;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="d-flex w-100 justify-content-between">
    <h3 class="mb-1">{{ dirname }}</h3>
    <form class="d-flex" method="post">
      {% csrf_token %}
      <input name="name" class="form-control me-2" type="search" placeholder="搜索" aria-label="Search" value="{{ filmname }}">
      <button class="btn btn-outline-info" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>
      </button>
    </form>
    <span class="d-flex">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editdirname" style="margin-left: 1rem;">
        修改名称
      </button>

      <!-- Modal -->
      <div class="modal fade" id="editdirname" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">修改收藏夹名称</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div style="margin-bottom: 10px;">
                <input class="form-control" type="text" id="editdirname_input" placeholder="收藏夹名称" />
                <span style="color: red; margin-top: 10px;" id="error1"></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="editdirname_confirm">确定</button>
            </div>
          </div>
        </div>
      </div>

      <a style="margin-left: 1rem;" class="btn btn-danger" href="/delete/dir/{{dirid}}/">
        删除收藏夹
      </a>

      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addfilm" style="margin-left: 1rem;">
        添加电影
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addfilm" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel2">添加电影</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="post" action="/add/film/" id="addfilmform">
                {% for field in filmform %}
                  <div class="form-floating" style="margin-bottom: 10px;">
                    {{ field }}
                    <label>{{ field.label }}</label>
                  </div>
                {% endfor %}
              </form>
              <span style="color: red;" id="error2"></span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="addfilm_confirm">确定</button>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
  <hr />
  <div class="row row-cols-1 row-cols-md-5 g-4">
    {% for filmid in filmset %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ filmid.film.cover }}" class="card-img-top" alt="{{ filmid.film.name }}" style="height: 19rem;"/>
          <div class="card-body">
            <h5 class="card-title">{{ filmid.film.name }}</h5>
            <p class="card-text">{{ filmid.film.year }}  {{ filmid.film.nationality }}</p>
            <p class="card-text">{{ filmid.film.types }}</p>
            <div style="float: right;">
              <a type="button" class="btn btn-outline-warning" href="/edit/film/{{filmid.film.id}}/">编辑</a>
              <button type="button" class="btn btn-outline-danger delete_film" filmid="{{filmid.film.id}}">删除</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $(function () {
      edit_dir_name();
      add_film();
      delete_film();
    })
    function edit_dir_name() {
      $('#editdirname_confirm').click(function () {
        $('#error2').text('')
        $.ajax({
          url: '/edit/dirname/',
          type: 'post',
          dataType: 'JSON',
          data: {
            dirid: {{ dirid }},
            name: $('#editdirname_input').val(),
          },
          success: function (res) {
            if (res.status == 'error') {
              $('#error2').text(res.msg)
            } else {
              location.reload()
            }
          }
        })
      })
    }

    function add_film() {
      $("#addfilm_confirm").click(function () {
        $('#error2').text('')
        $.ajax({
          url: '/add/film/',
          type: 'post',
          dataType: 'JSON',
          data: {
            dirid: {{ dirid }},
            formdata: $('#addfilmform').serialize(),
          },
          success: function (res) {
            if (res.status == 'error') {
              $('#error2').text(res.msg)
            } else {
              location.reload()
            }
          }
        })
      })
    }

    function delete_film() {
      $(".delete_film").click(function () {
        $.ajax({
          url: '/delete/film/',
          type: 'post',
          dataType: 'JSON',
          data: {
            filmid: $(this).attr("filmid"),
          },
          success: function (res) {
            if (res.status == 'error') {
              alert("删除失败");
            } else {
              location.reload()
            }
          }
        })
      })
    }
  </script>
{% endblock %}
