{% extends 'layout.html' %}

{% block content %}
  <div class="row row-cols-1 row-cols-md-1 g-4">筛选</div>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    {% for film in filmset %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ film.cover }}" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{ film.name }}</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
