{% load static %}
<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <title>影视人生</title>
      <link rel="stylesheet" href="{% static 'plugins/bootstrapmini5.1/bootstrap.css' %}" />
      {% block css %}{% endblock %}
    </head>

    <body>
      {% comment %}导航栏{% endcomment %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm" style="margin-bottom: 3rem;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index/">影视人生</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/myclms/film_admin">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                  </svg>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dirs/">我的收藏夹</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/statistics/">统计面板</a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav" style="margin-right: 0%;">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ name }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/userinfoedit/">编辑我的信息</a></li>
                <li><a class="dropdown-item" href="/userpasswordedit/">修改密码</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/logout/" style="color: red;">注销</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        {% block content %}{% endblock %}
      </div>

      {% comment %} 1页10个，1行最多5个 {% endcomment %}
      <nav aria-label="Page navigation example align-bottom" style="margin-top: 15px;">
        <ul class="pagination justify-content-center">
          {% for pageval in pagevals %}
            <li class="page-item"><a class="page-link" href="?page={{pageval}}&search_string={{search_string}}">{{ pageval }}</a></li>
          {% endfor %}
        </ul>
      </nav>

      <script src="{% static 'plugins/bootstrapmini5.1/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
      <script type="text/javascript">
        // 分页
        {% comment %} $(function () {
          page_jump();
        })

        function page_jump(){
          $(".page-item").click(function(){
            let search_string = $("#search_input").attr("value");
            let page = $(this).text();
            window.location.href = "#/?page="+page+"&search_string="+search_string;
          })
        } {% endcomment %}
        // 分页
      </script>
      {% block js %}{% endblock %}
    </body>
  </html>
</html>
