{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>管理员视图</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrapmini5.1/bootstrap.css' %}" />
  </head>

  <body>
    <div class="container justify-content-center" style="padding-top: 30px;">
      <p class="text-center fs-3">总用户数：{{ usercnt }}</p>
      <div class="row" style="height: 80vh;">
        <div class="col-6" id="age"></div>
        <div class="col-6" id="gender"></div>
      </div>
    </div>

    <script src="{% static 'plugins/bootstrapmini5.1/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/echarts.js' %}"></script>
    <script type="text/javascript">
      var Chart_age = echarts.init(document.getElementById('age'))
      var Chart_gender = echarts.init(document.getElementById('gender'))
      var option_age = {
        tooltip: {
          trigger: 'item'
        },
        legend: {
          top: '5%',
          left: 'center'
        },
        series: [
          {
            name: 'Access From',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: 40,
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              
            ]
          }
        ]
      }

      var option_gender = {
        tooltip: {
          trigger: 'item'
        },
        legend: {
          top: '5%',
          left: 'center'
        },
        series: [
          {
            name: 'Access From',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: 40,
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              
            ]
          }
        ]
      }



      $(function() {
        init_age();
        init_gender();
      })



      function init_age() {
        $.ajax({
        url: '/userage/',
        type: 'get',
        dataType: 'JSON',
        data: {
        },
        success: function (res) {
            option_age.series[0].data = res.data
            option_age && Chart_age.setOption(option_age);
        }
        })
      }

      function init_gender() {
        $.ajax({
        url: '/usergender/',
        type: 'get',
        dataType: 'JSON',
        data: {
        },
        success: function (res) {
            option_gender.series[0].data = res.data
            option_gender && Chart_gender.setOption(option_gender);
        }
        })
      }
    </script>
  </body>
</html>
